<html>
  <head>  

      {% block graphs %} {% endblock %}
  </head>

  <body>
    {% block div %}  {% endblock %}
    <br><b>TWITTER API</b></br>
    <br><button onclick="window.location.href='populate_list'">GENERATE A NEW LIST</button></br>
    <br><button onclick="window.location.href='top_users'">TOP USERS AND FOLLOWERS</button></br>
    <br><button onclick="window.location.href='search_tweets'">TOP TWEETS BY TAGS</button></br>
    <br><button onclick="window.location.href='tweets_by_hour'">ALL TWEETS GROUPED BY HOUR</button></br>

</body>
</html>